[Unit]
Description=Zulip TOTP Bot
After=network-online.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/lsr/totp-gateway/bot
EnvironmentFile=/opt/lsr/totp-gateway/bot/.env
ExecStart=/opt/lsr/totp-gateway/bot/.venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
